/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
} */

.title {
	font-size: 16px;
	font-weight: bold;
}

.tamitem {
	font-size: 14px;
}

.img-fluid {
	width: 100px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;
}
.grid-item {
	text-align: center;
}

.pad {
	padding: 48px 16px 0;
}
