

.olga{
    align-items: center;
    text-align: center;
}

.olga2{
    align-items: center;
    margin: 0;
    padding: 0;
}

.carousel-caption{
    color: black !important;
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel{
    margin: 0 auto;
}

#carouselExampleCaptions img{
    width: 100%;
}

.carousel-item{
    height: 45vh;
    position:relative;
    
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 5rem 0;
  }